body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

nav .logo-text {
  border-left: 0.1rem solid #b6b6b6;
  bottom: 8px;
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  padding-left: 0.75rem;
  position: relative;
  text-transform: uppercase;
}

nav .logo-png {
  padding-left: 15px;
  padding-top: 13px;
  width: 130px;
}

nav ul li {
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

main {
  flex: 1 0 auto;
}

main input[type=text]:focus:not([readonly]),
main input[type=password]:focus:not([readonly]),
main textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #607d8b;
  box-shadow: 0 1px 0 0 #607d8b;
}

main input[type=text]:focus:not([readonly]) + label,
main input[type=password]:focus:not([readonly]) + label,
main textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #607d8b;
}


main .parallax-container {
  height: 250px;
}

main .parallax-container img {
  width: 100%;
}

main .card {
  margin-top: 30px;
}

footer.page-footer small {
  padding-left: 15px;
}

@media only screen and (min-width: 601px) {
  nav .logo-png {
    padding-top: 20px;
  }
}
